.div_card {
  padding: auto;
  margin: auto;
  display: flex;
  background-color: #86bbda;
  opacity: 95%;
  height: 145px;
  border-radius: 15px;
  box-shadow: 7px 7px 3px 0px #8088fa3d;
  transition: all 0.5s ease;
}

.div_card:hover {
  box-shadow: 7px 7px 10px 5px #fdefef3d;
}

.div_card,
.div_img {
  width: 100%;
}

.div_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div_card,
.div_detail {
  width: 90%;
  padding: 1rem;
}

.div_detail,
h3 {
  letter-spacing: 2px;
  line-height: 30px;
  width: 100%;
  margin: auto;
  padding-top: 0px;
  margin-left: 15px;
  margin-bottom: 0px;
  font-size: 2ch;
}

.content_info p {
  margin: 0;
  margin-bottom: 2px;
}

h4 {
  margin: auto;
  margin-left: 15px;
  margin-bottom: 0px;
}
/* Estilos para botón details */
.btn_viewDetails {
  border: none;
  background: none;
}

.btn_viewDetails span {
  padding-bottom: 5px;
  letter-spacing: 2px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.btn_viewDetails {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.div_card:hover .btn_viewDetails {
  transform: translateX(0);
}

.btn_viewDetails:active {
  transform: scale(0.9);
}

.btn_text {
  position: relative;
  color: rgb(15, 156, 58);
  padding-bottom: 50px;
  margin: auto;
  margin-left: 15px;
  margin-bottom: 0px;
}

.btn_text:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(74, 182, 245);
  transform-origin: bottom right;
  transition: transform 1s ease-out;
}

.div_card:hover .btn_viewDetails .btn_text:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.rotate_vertical_center {
  animation: rotate-vertical-center 3s;
}
@keyframes rotate-vertical-center {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
