/* Estilo del contenedor del paginado */
.paged_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Estilo de los botones de paginado */
.btn_pagination {
    background-color: #86bbda;
    width: 45px;
    color: black;
    border: none;
    padding: 10px; 
    margin: 0 6px; 
    cursor: pointer; 
    border-radius: 50%;
}

/* Estilo del botón activo de paginado */
.btn_pagination:hover {
    background-color: #caddee;
    opacity: 70%;
    color: #414040f6;
}

.btn_pagination_active{
    background-color: #51a304;
    width: 45px;
    color: black;
    border: none;
    padding: 10px; 
    margin: 0 6px; 
    cursor: pointer; 
    border-radius: 50%;
    color: #414040f6;
}