.div_containerNav {
  font-family: "Alkatra", cursive;
  width: 100%;
  background-color: transparent;
  opacity: 90%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.div_containerNav .div_containerInfo {
  background-color: #86bbda;
  opacity: 100%;
  width: 100%;
  max-width: 1400px;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div_containerNav .div_options {
  display: flex;
}

/* estilos para los ítems del menú */
.div_containerNav .div_options a {
  margin-left: 4rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  color: rgb(15, 156, 58);
}

.div_containerNav .div_options a::before {
  margin-left: auto;
}

.div_containerNav .div_options a::after,
.div_containerNav .div_options a::before {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(74, 182, 245);
  display: block;
  transition: 0.5s;
}

.div_containerNav .div_options a:hover::after,
.div_containerNav .div_options a:hover::before {
  width: 100%;
}

.img{
  width: 15%;
  height: 15%;
}